@import "tailwindcss";

@source '../../*.{js,ts,jsx,tsx,mdx}';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --background: 277 100% 95%;
    --foreground: 277 5% 6%;
    --card: 277 50% 90%;
    --card-foreground: 277 5% 10%;
    --popover: 277 100% 95%;
    --popover-foreground: 277 100% 6%;
    --primary: 277 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 277 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 239 30% 85%;
    --muted-foreground: 277 5% 35%;
    --accent: 239 30% 80%;
    --accent-foreground: 277 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 277 5% 90%;
    --border: 277 30% 50%;
    --input: 277 30% 18%;
    --ring: 277 100% 50%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 277 50% 6%;
    --foreground: 277 5% 90%;
    --card: 277 50% 6%;
    --card-foreground: 277 5% 90%;
    --popover: 277 50% 5%;
    --popover-foreground: 277 5% 90%;
    --primary: 277 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 277 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 239 30% 15%;
    --muted-foreground: 277 5% 60%;
    --accent: 239 30% 15%;
    --accent-foreground: 277 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 277 5% 90%;
    --border: 277 30% 18%;
    --input: 277 30% 18%;
    --ring: 277 100% 50%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
